<div class="page-social relative">
<a href="/contact/">
	<i class="fa-solid fa-square-envelope fa-2xl"></i></a> 
<a href="https://www.linkedin.com/in/thijspeirelinck" target="_blank">
	<i class="fab fa-linkedin fa-2xl"></i></a> 
<a href="https://instagram.com/timelapsingthikkes" target="_blank">
	<i class="fab fa-instagram-square fa-2xl"></i></a> 
<a href="https://www.youtube.com/@timelapsingthikkes" target="_blank">
	<i class="fab fa-youtube-square fa-2xl"></i></a> 
<a href="https://photog.social/@thijspeirelinck" target="_blank">
	<i class="fab fa-mastodon fa-2xl"></i></a> 
</div>