<!-- Basic Share Links -->
<strong>Share</strong> <br><br>
<!-- Twitter (url, text, @mention) -->
<a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=@thijspeirelinck" target="blank">
    <i class="fab fa-twitter fa-2xl"></i>
</a>
&nbsp;
<!-- Mastodon (url, text, @mention) -->
<a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME >" target="blank">
    <i class="fab fa-mastodon fa-2xl"></i>
</a>
&nbsp;
<!-- LinkedIn (url, title, summary, source url) -->
<a href="https://www.linkedin.com/shareArticle?url=<URL>&title=<TITLE>&summary=<SUMMARY>&source=<SOURCE_URL>" target="blank">
    <i class="fab fa-linkedin fa-2xl"></i>
</a>
&nbsp;
<!-- Email (subject, body) -->
<a href="mailto:?subject=Interestding Blog Post Thijs Peirelinck&body=Check out this blog post from thijs: {{ page.url | absolute_url }}. %0d%0aWhat do you think?">
    <i class="fa-solid fa-square-envelope fa-2xl"></i>
</a>
