<div class="logos">
  <div class="logo logo-desktop">
    {% if site.header.header_show_logo_image_on_desktop %}
      <div class="logo-image">
        <a href="{{ site.baseurl }}/">
          <img height="{{ site.header.header_logo_image_desktop_height }}" width="{{ site.header.header_logo_image_desktop_width }}" alt="{{ site.title }} Logo" src="{{ site.header.header_logo_image | relative_url }}"/>
        </a>
      </div>
    {% endif %}
  
    {% if site.header.header_show_logo_text_on_desktop %}
      <div class="logo-text"><a href="{{ site.baseurl }}/">{{ site.header.header_logo_text }}</a></div>
    {% endif %}
    
  </div>

  <div class="logo logo-desktop-invert">
    
    {% if site.header.header_show_logo_image_on_desktop %}
      <div class="logo-image">
        <a href="{{ site.baseurl }}/">
          <img height="{{ site.header.header_logo_image_desktop_height }}" width="{{ site.header.header_logo_image_desktop_width }}" alt="{{ site.title }} Logo" src="{{ site.header.header_logo_image_invert | relative_url }}"/>
        </a>
      </div>
    {% endif %}
  
    {% if site.header.header_show_logo_text_on_desktop %}
      <div class="logo-text"><a href="{{ site.baseurl }}/">{{ site.header.header_logo_text }}</a></div>
    {% endif %}
    
  </div>

  <div class="logo logo-mobile">
    
    {% if site.header.header_show_logo_image_on_mobile %}
      <div class="logo-image">
        <a href="{{ site.baseurl }}/">
          <img height="{{ site.header.header_logo_image_mobile_height }}" width="{{ site.header.header_logo_image_mobile_width }}" alt="{{ site.title }} Logo" src="{{ site.header.header_logo_image_mobile | relative_url }}"/>
        </a>
      </div>
    {% endif %}
  
    {% if site.header.header_show_logo_text_on_mobile %}
      <div class="logo-text"><a href="{{ site.baseurl }}/">{{ site.header.header_logo_text }}</a></div>
    {% endif %}
    
  </div>


  <div class="logo logo-mobile-invert">
    
    {% if site.header.header_show_logo_image_on_mobile %}
      <div class="logo-image">
        <a href="{{ site.baseurl }}/">
          <img height="{{ site.header.header_logo_image_mobile_height }}" width="{{ site.header.header_logo_image_mobile_width }}" alt="{{ site.title }} Logo" src="{{ site.header.header_logo_image_invert_mobile | relative_url }}"/>
        </a>
      </div>
    {% endif %}
  
    {% if site.header.header_show_logo_text_on_mobile %}
      <div class="logo-text"><a href="{{ site.baseurl }}/">{{ site.header.header_logo_text }}</a></div>
    {% endif %}

  </div>

</div>

