---
layout: default
body_classes: page-home
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/blocks/sections/heading.html
        title=page.title
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.hikes | sort: 'date' | reverse %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">
      {% include framework/blocks/components/grid-header.html heading="Recent Hikes" %}
      {% for card in cards limit: 2 %}
      <div
        class="col-12 col-md-6 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
        title=card.title
        description=card.description
        thumbnail=card.thumbnail
        categories=card.categories
        date=card.date
        url=card.url
        client=card.client
        distance=card.distance
        location=card.location
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<br>

{% assign cards = site.posts %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">
      {% include framework/blocks/components/grid-header.html heading="Recent Posts" %}
      {% for card in cards limit: 3 %}
      <div
        class="col-12 col-md-4 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-post.html
        title=card.title
        description=card.description
        url=card.url
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<br>

{% assign cards = site.projects | sort: 'date' | reverse %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">
      {% include framework/blocks/components/grid-header.html heading="Recent Photography" %}
      {% for card in cards limit: 2 %}
      <div
        class="col-12 col-md-6 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
        title=card.title
        description=card.description
        thumbnail=card.thumbnail
        categories=card.categories
        date=card.date
        url=card.url
        client=card.client
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<br>

{% assign cards = site.projects | sort: 'date'  %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">
      {% include framework/blocks/components/grid-header.html heading="&#9733 &#9733 &#9733 &#9733 &#9733" %}
      {% for card in cards limit: 2 %}
      <div
        class="col-12 col-md-6 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
        title=card.title
        description=card.description
        thumbnail=card.thumbnail
        categories=card.categories
        date=card.date
        url=card.url
        client=card.client
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<br>

{% if site.mailchimp.form_action_url %}
{% if page.subscribe %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/blocks/components/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endif %}
