---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 50 %}

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 mb-4">

        {% if page.title %}
          <div class="project-heading">
            <h1>{{ page.title }}</h1>
          </div>
        {% endif %}

        {% if page.categories %}
          <div class="project-categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          </div>
        {% endif %}

<!--         {% if page.date %}
          <div class="project-date">
            <strong>Date </strong><span>{{ page.date | date_to_long_string }}</span>
          </div>
        {% endif %} -->

        {% if page.location %}
          <div class="project-client">
            <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
</svg> </strong><span>{{ page.location }}</span>
          </div>
        {% endif %}

        <div class="project-client">
            <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
</svg></strong><span>{{ page.distance }} km</span>
        </div>

<!--         <div class="project-client">
            <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg> </strong><span><a href="{{ page.map }}" target="blank">Map / GPX</a></span>
        </div> -->

        <div class="project-client">
            <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
  <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
</svg> </strong><span><a href="/contact/" target="blank">Contact me</a> to print or to use</span>
        </div>
{% if page.info %}
<div class="project-client">
            <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg> </strong><span><a href="{{ page.info }}" target="blank">More info</a></span>
        </div>
{% endif %}

        {% if page.role %}
          <div class="project-role">
            <strong>Role </strong><span>{{ page.role }}</span>
          </div>
        {% endif %}

      </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="content">{{ page.description }}</div>
    </div>

    </div>
  </div>

  <div class="container">
      <div class="content-full">{{ content }}</div>  
  </div>

   <div class="container">
      <div class="content-full">
        <br>
        <hr>
        <br>
        <script type="text/javascript" src="{{ page.outdooractive }}"></script>
      </div>  
  </div>

</div>

<br>

<div class="container">
  <div class="row justify-content-center">
      <div class="content">
          <div class="text-center">
          <br>
          {% include extensions/flask-comments.html %}
        </div>
      </div>  
  </div>
</div>


<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
<script>
  var elements = document.getElementsByClassName('gallery');
  var msnry;

  var grid = document.querySelector('.gallery');
  var msnry;

  var n = elements.length;

  var ll = new LazyLoad({
    elements_selector: "img",
    callback_loaded() {
        for(var i = 0; i < n; i++){
          msnry = new Masonry(elements[i], {
              itemSelector: '.gallery-item',
              columnWidth: '.gallery-sizer',
              gutter: 30
          });
        }
      }
  });
  // var elements = document.getElementsByClassName('gallery');
  // var msnry;

  // imagesLoaded( document.querySelector('.gallery'), function() {
  //   var n = elements.length;
  //   for(var i = 0; i < n; i++){
  //     msnry = new Masonry( elements[i], {
  //       itemSelector: '.gallery-item',
  //       columnWidth: '.gallery-sizer',
  //       gutter: 30,
  //     });
  //   }
  // });
</script>
